#Abcss {
    background:rgb(255, 0, 242);
    border : 2px solid rgb(12, 74, 103);
    text-align: "center";
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}